body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Indie Flower', cursive;
    background: linear-gradient(#bbb, transparent 1px),
        linear-gradient(90deg, #bbb, transparent 1px);
    background-size: 20px 20px;
    background-position: center center;
    cursor: default;
}
body::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 4rem;
    background-color: rgba(255, 0, 0, 0.6);
}
h1 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 3rem;
    text-decoration: underline;
}
@media (max-width: 900px) {
    h1 {
        font-size: 2.5rem;
    }
    body::before {
        left: 1.7rem;
    }
}
@media (max-width: 600px) {
    body {
        background-size: 15px 15px;
    }
    body::before {
        left: 2rem;
    }
    h1 {
        font-size: 1.5rem;
        padding: 1rem;
    }
}
